table, th, td{
	border: 1px solid black;
}

table{
	border-collapse: collapse;
	padding: 20px;
	text-align: center;
	background-color: dimgrey;
}

tr:nth-child(even){
	background-color: darkslateblue;
}

tr:nth-child(odd){
	background-color: steelblue;
}

.entry{
	background-color: orangered;
	margin: 20px;
	padding: 20px;
}
.body{
	background-color: gold;
	margin: 20px;
	padding: 20px;
}

.header {
	background-color: lightslategray;
	text-align: center;
	padding: 20px;
}

.postcss {
	background-color: gold;
}

.topnav {
	overflow: hidden;
	background-color: lightseagreen;
}

.topnav a{
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topnav a:hover {
	background-color: lightskyblue;
	color: black;
}