.header {
	background-color: lightslategray;
	text-align: center;
	padding: 20px;
}

.postcss {
	background-color: gold;
}

.topnav {
	overflow: hidden;
	background-color: lightseagreen;
}

.topnav a{
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topnav a:hover {
	background-color: lightskyblue;
	color: black;
}