<!DOCTYPE html>
<!--gold orangered -->
<html>
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css'}">
	<title>Erick's test site</title>
</head>
<style>
	.entry{
		background-color: orangered;
		margin: 20px;
		padding: 20px;
	}
	.body{
		background-color: gold;
		margin: 20px;
		padding: 20px;
	}
</style>
<body style="background-color:aquamarine">

	<div class="header">UNFITTING HEADER!</div>

	<h2 class="entry">This is text!</h2>
	<p class="body">so is this</p>

	<div class="postcss">
		{% for post in posts %} {{ post }}{% endfor %}
	</div>
</body>
</html>