<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>Erick's test site</title>
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<style>
	.entry{
		background-color: orangered;
		margin: 20px;
		padding: 20px;
	}
	.body{
		background-color: gold;
		margin: 20px;
		padding: 20px;
	}
</style>
<body style="background-color:aquamarine">

	<div class="header">UNFITTING HEADER! </div>
		{% block content %}

			{% if user.is_authenticated %}
			<p>Welcome {{ user.name }}</p>
			<a href="{% url 'logout' %}">logout</a>
			{% else %}
			<div class="topnav">
			<p>you are not loged in
			<a href="{% url 'login' %}">login</a> Don't have an account? <a href="{% url 'signup' %}">register</a></p>
			</div>
		{% endif %}
		{% endblock %}

	<h2 class="entry">This is text!</h2>
	<p class="body">so is this</p>

	<div class="postcss">
		{% for post in posts %} <div class="postcss">
{{ post }}</div>{% endfor %}
</body>
</html>