<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>LIST APP!</title>
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body style="background-color: aquamarine;">

	{% block content %}

	{% if user.is_authenticated %}

		<div class="topnav">
			<a href="{% url 'post_list' %}">Home</a>
			<a href="{% url 'post_list' %}">Go back</a>
		</div>
	{% else %}
		<div class="topnav">
			<p>
			<a href="{% url 'login' %}">You are not logged in<br>login</a>
			<a href="{% url 'signup' %}">Don't have an account? <br>register</a>
			</p>
		</div>
	{% endif %}
	{% endblock %}

	<table>
		<tr>
			<th>First name</th>
			<th>Last name</th>
			<th>more info</th>
		</tr>

		{% for Persona in personal %}
			<tr>
				<td>{{ Persona.Name }}</td>
				<td>{{ Persona.LastName }}</td>
			</tr>
		{% endfor %}
	</table>
</body>
</html>